@import '../foundation/functions';
@import '../foundation/mixin';
@import '../foundation/variables';


.btn-maker {
    position: relative;
    width: 100%;
    height: prem(44);
    font-size: prem(20);
    font-weight: $bold;
    font-family:$font-family-base;
    color: #fff;
    border-radius: prem(5);
    background: #50abe6;
    box-shadow: 0 prem(5) 0 #0478c4;
    transition: box-shadow ease .3s, transform ease .3s;
    display: grid;
    place-items: center;
    

    @include mq(md) {
        height: prem(40);
        font-size: prem(12);
    }

    &:hover {
        color: #fff;
        opacity: 1;
        text-decoration: none;
        box-shadow: none;
        transform: translateY(5px);
        transition: box-shadow ease .3s, transform ease .3s;
    }

    img {
        width: prem(16);
        height: prem(16);
        aspect-ratio: 1 / 1;
        position: absolute;
        left: prem(12);
    }
}