@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';

.installation__text {
    padding: prem(20) 0 prem(40) 0;
    font-size: prem(14);
    font-weight: $regular;
    font-family: $font-family-base;
    color: #222222;
}