@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';

.step__title {
    font-size: prem(30);
    font-weight: $bold;
    font-family: $font-family-base;
    color: #222222;

    @include mq(md) {
        font-size: prem(20);
    }

    span {
        color: #0374D2;
    }
}

.step__text {
    margin-top: prem(20);
    font-size: prem(14);
    font-weight: $regular;
    font-family: $font-family-base;
    color: #222222;

    @include mq(md) {
        font-size: prem(12);
    }
}
