@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';

.layout-payment {
    margin-top: prem(80);
    margin-bottom: prem(80);

    @include mq(md) {
        margin-top: prem(40);
        margin-bottom: prem(40);
    }
}