@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';

.type-accordion {
    margin-top: prem(40);
}

.type-accordion-list__item + .type-accordion-list__item {
    margin-top: prem(40);
}

.type-accordion-list__item-question {
    padding-bottom: prem(7);
    font-size: prem(16);
    font-weight: $bold;
    border-bottom: 2px solid #0374D2;
    cursor: pointer;
    @include mq(md){
        font-size: prem(14);
    }

    picture {
        margin-right: prem(5);
        display: inline-block;
        transform: rotate(-90deg);
        transform-origin: center;
        transition: .4s;
    }

    &.is-open {
        picture {
            transition: .4s;
            transform: rotate(0deg);
        }
    }
}

.type-accordion-list__item-answer {
    display: none;
}

.type-accordion-list__item-answer-text {
    margin-top: prem(20);
}

.type-accordion-list__item-answer-list {
    margin-top: prem(20);
    display: grid;
    grid-template-columns: repeat(3, calc((100% - prem(20)) / 3));
    gap: prem(10);

    @include mq(md) {
        grid-template-columns: 1fr;
        gap: prem(40);
    }
}

.type-accordion-list__item-answer-list-item {
    display: flex;
    flex-direction: column;
}

.type-accordion-list__item-answer-list-item-title {
    font-size: prem(16);
    font-weight: $bold;
    color: #0374D2;
}

.type-accordion-list__item-answer-list-item-img {
    width: prem(233);
    margin-top: prem(3);
    aspect-ratio: 233 / 250;

    @include mq(md) {
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.type-accordion-list__item-answer-list-item-content {
    flex: 1;
}

.type-accordion-list__item-answer-list-item-text {
    padding: prem(15) 0;
    font-size: prem(14);
    
    span {
        font-weight: $bold;;
    }
}

.type-accordion-list__item-answer-list-item-btn-wrap {
    margin-top: auto;
}

.type-accordion-list__item-answer-bottom-wrap {
    margin-top: prem(20);
    display: grid;
    grid-template-columns: repeat(2, calc((100% - prem(10)) / 2));
    gap: prem(10);

    @include mq(md) {
        grid-template-columns: 1fr;
    }
}

