@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';


.type {
    font-size: prem(14);
    font-weight: $regular;
    font-family: $font-family-base;
    color: #222222;
}

.type__text {
    margin-top: prem(20);
}

.type-accordion__inner {
    margin: auto;
    width: 100%;
}