@import '../../foundation/functions';
@import '../../foundation/mixin';
@import '../../foundation/variables';

.youtube__wrap {
    padding: prem(30) ;
    background: (linear-gradient(180deg, #F3F9FE 0%, #FFF 100%));
    text-align: center;
}

.youtube__text {
    margin: 0 auto;
    padding: prem(5) 0 prem(6) 0;
    max-width: prem(520);
    height: prem(40);
    font-size: prem(20);
    font-weight: $bold;
    font-family: $font-family-base;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: prem(100);
    background-image: linear-gradient(-45deg, #FFB526 25%, #FFA500 25%, #FFA500 50%, #FFB526 50%, #FFB526 75%, #FFA500 75%, #FFA500);
    background-size: 20px 20px;
    position: relative;
    text-align: center;

    @include mq(md) {
        height: prem(30);
        font-size: prem(12);
    }

    &::before {
        content: '';
        width: prem(12);
        height: prem(11);
        position: absolute;
        background-color: #FFA800;
        bottom: prem(-10);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        left: 49%;
    }
}

.youtube {
    max-width: prem(520);
    height: prem(292);
    margin: prem(20) auto 0 auto;
    position: relative;
    overflow: hidden;
}

iframe {
    aspect-ratio: 16/9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
